<!-- <div>
    <div *ngIf="user == null; else userlogin">
        <app-header></app-header>
    </div>


        <ng-template #userlogin>
            <div *ngIf="user.tip == 'kupac'; else prodavaclogin">
                <app-kupac-header></app-kupac-header>
            </div>


                <ng-template #prodavaclogin>
                    <app-og-header></app-og-header>
                </ng-template>

    </ng-template>
</div> -->



<router-outlet></router-outlet>

<app-footer></app-footer>








