<header class="header">
  <nav class="navbar nav-1">
    <section class="flex">
      <a href="#" class="logo"
        ><fa-icon [icon]="houseIcon"></fa-icon>ProdajaNekretninaRS</a
      >

      <ul>
        <li>
          <a href="#">Postavi oglas<fa-icon [icon]="plusIcon"></fa-icon></a>
        </li>
        <li>
          <a href="#">Moj Profil<fa-icon [icon]="userIcon"></fa-icon> </a>
        </li>
        <li>
          <a href="#">Odjavi se<fa-icon [icon]="arrowRighIcon"></fa-icon></a>
        </li>
      </ul>
    </section>
  </nav>
</header>
