<header class="header">
  <nav class="navbar nav-1">
    <section class="flex">
      <a routerLink="/naslovna" class="logo"
        ><fa-icon [icon]="houseIcon"></fa-icon>ProdajaNekretninaRS</a
      >

      <ul>
        <li>
          <a routerLink="/moji-oglasi">Moji oglasi</a>
        </li>
        <li>
          <a routerLink="/postavi-oglas"
            >Postavi oglas<fa-icon [icon]="plusIcon"></fa-icon
          ></a>
        </li>
        <li>
          <a routerLink="/moj-profil"
            >Moj Profil<fa-icon [icon]="userIcon"></fa-icon>
          </a>
        </li>
        <li>
          <a>Odjavi se<fa-icon [icon]="arrowRighIcon"></fa-icon></a>
        </li>
      </ul>
    </section>
  </nav>
</header>
