<app-kupac-header></app-kupac-header>
<div class="home">
  <section class="left">
    <form (ngSubmit)="pretrazi()">
      <h3>Pronađite savršeni dom</h3>
      <div class="box">
        <p>Lokacija</p>
        <select
          name="lokacija"
          class="input"
          required
          [(ngModel)]="filter.lokacija"
        >
          <option value="undefined" disabled>Izaberite lokaciju</option>
          <option *ngFor="let izbor of lokacijaIzbor" value="{{ izbor }}">
            {{ izbor }}
          </option>
        </select>
      </div>
      <div class="flex">
        <!-- tip nekretnien -->
        <div class="box">
          <p>Tip nekretnine</p>
          <select
            name="tipNekretnine"
            class="input"
            required
            [(ngModel)]="filter.tip"
          >
            <option value="undefined" disabled>Izaberite tip</option>
            <option
              *ngFor="let izbor of tipNekretnineIzbor"
              value="{{ izbor }}"
            >
              {{ izbor }}
            </option>
          </select>
        </div>
        <!-- cena -->
        <div class="box">
          <p>Cena do</p>
          <input
            type="number"
            name="cenaDo"
            placeholder="€"
            class="input"
            [(ngModel)]="filter.cena"
          />
        </div>
        <!-- kvadratura -->
        <div class="box">
          <p>Kvadratura od</p>
          <input
            type="number"
            name="kvadraturaDo"
            placeholder="m²"
            class="input"
            [(ngModel)]="filter.kvadratura"
          />
        </div>
        <div class="box">
          <p>Broj soba</p>
          <select name="brojSoba" class="input" [(ngModel)]="filter.brojSoba">
            <option value="undefined" disabled>Izaberite broj soba</option>
            <option *ngFor="let izbor of brojSobaIzbor" value="{{ izbor }}">
              {{ izbor }}
            </option>
          </select>
        </div>
      </div>
      <input type="submit" value="Traži" name="pretraga" class="btn" />
      <button class="btn2" routerLink="/detaljna-pretraga">
        Detaljna pretraga
      </button>
    </form>
  </section>
</div>

<!-- listings home starts  -->
<!-- prikazuje sve nekretnine, treba namestiti da prikazuje samo poslednjih sest -->
<div class="sekcija">
  <div class="listings">
    <h1 class="heading">Najnovije Nekretnine</h1>

    <div class="box-container">
      <div class="box" *ngFor="let listing of allListings">
        <div class="thumb">
          <img
            [src]="listing.slike[0].source"
            alt=""
            *ngIf="listing.slike.length > 0"
          />
          <img
            src="assets/images/house-img-2.jpg"
            *ngIf="listing.slike.length == 0"
            alt=""
          />
        </div>
        <h3 class="name">{{ listing.nazivOglasa }}</h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena:
          <span>{{ listing.cena }} €</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd - {{ listing.lokacija }} - {{ listing.ulica }}</span>
        </p>

        <div class="flex">
          <p>
            <i class="fas fa-bus"></i>Lista prevoza:
            <span *ngFor="let linija of listing.linije">{{ linija }} </span>
          </p>
        </div>
        <a routerLink="/stranica-oglasa/{{ listing._id }}" class="btn"
          >Pogledaj oglas</a
        >
      </div>

      <!-- <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-2.jpg" alt="" />
        </div>
        <h3 class="name">Crveni Krst - Mileševska novogradnja</h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>208 750 €</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd - opština Vračar - Crveni Krst - Mileševska</span>
        </p>

        <div class="flex">
          <p>
            <i class="fas fa-bus"></i>Lista prevoza: <span>3, 4, 6, 7, 11</span>
          </p>
        </div>
        <a routerLink="/stranica-oglasa" class="btn">Pogledaj oglas</a>
      </div>

      <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-1.jpg" alt="" />
        </div>
        <h3 class="name">Prodajem stan <br /><br /></h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>120000</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd-Vračar-Crveni krst <br /><br /></span>
        </p>

        <div class="flex">
          <p><i class="fas fa-bus"></i>Lista prevoza: <span>1, 2, 3</span></p>
        </div>
        <a href="#" class="btn">Pogledaj oglas </a>
      </div>

      <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-1.jpg" alt="" />
        </div>
        <h3 class="name">Prodajem stan <br /><br /></h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>120000</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd-Vračar-Crveni krst <br /><br /></span>
        </p>

        <div class="flex">
          <p><i class="fas fa-bus"></i>Lista prevoza: <span>1, 2, 3</span></p>
        </div>
        <a href="#" class="btn">Pogledaj oglas</a>
      </div>

      <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-1.jpg" alt="" />
        </div>
        <h3 class="name">Prodajem stan</h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>120000</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd-Vračar-Crveni krst</span>
        </p>

        <div class="flex">
          <p><i class="fas fa-bus"></i>Lista prevoza: <span>1, 2, 3</span></p>
        </div>
        <a href="#" class="btn">Pogledaj oglas</a>
      </div>

      <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-1.jpg" alt="" />
        </div>
        <h3 class="name">Prodajem stan</h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>120000</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd-Vračar-Crveni krst</span>
        </p>

        <div class="flex">
          <p><i class="fas fa-bus"></i>Lista prevoza: <span>1, 2, 3</span></p>
        </div>
        <a href="#" class="btn">Pogledaj oglas</a>
      </div>

      <div class="box">
        <div class="thumb">
          <img src="assets/images/house-img-1.jpg" alt="" />
        </div>
        <h3 class="name">Prodajem stan</h3>
        <p class="location">
          <i class="fas fa-euro-sign"></i>Cena: <span>120000</span>
        </p>

        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd-Vračar-Crveni krst</span>
        </p>

        <div class="flex">
          <p><i class="fas fa-bus"></i>Lista prevoza: <span>1, 2, 3</span></p>
        </div>
        <a href="#" class="btn">Pogledaj oglas</a>
      </div> -->
    </div>
  </div>

  <!-- listings home ends -->
</div>
