<footer class="footer">
  <section class="flex">
    <div class="box">
      <a href="tel:1234567890"
        ><fa-icon [icon]="phoneIcon"></fa-icon><span>123456789</span></a
      >
      <a href="tel:1112223333"
        ><fa-icon [icon]="phoneIcon"></fa-icon><span>1112223333</span></a
      >
      <a href="info@prodajanekretnina.rs"
        ><fa-icon [icon]="envelopeIcon"></fa-icon
        ><span>info@prodajanekretnina.rs</span></a
      >
      <a href="#"
        ><fa-icon [icon]="mapIcon"></fa-icon><span>Beograd, Ulica 15</span></a
      >
    </div>

    <div class="box"></div>

    <div class="box">
      <a href="#"
        ><span>facebook</span><fa-icon [icon]="facebookIcon"></fa-icon
      ></a>
      <a href="#"
        ><span>twitter</span><fa-icon [icon]="twitterIcon"></fa-icon
      ></a>
      <a href="#"
        ><span>linkedin</span><fa-icon [icon]="linkedinIcon"></fa-icon
      ></a>
      <a href="#"
        ><span>instagram</span><fa-icon [icon]="instagramIcon"></fa-icon
      ></a>
    </div>
  </section>

  <div class="credit">&copy; prodajanekretnina.rs | sva prava zadržana</div>
</footer>
