<app-kupac-header></app-kupac-header>
<section>
  <div class="content">
    <h1>Crveni Krst - Mileševska novogradnja</h1>
    <h2>Beograd - opština Vračar - Crveni Krst - Mileševska</h2>
    <div class="flex">
      <div class="info">
        <div class="box"><b>Cena:</b> 208 750 €</div>
        <div class="box"><b>Tip:</b> Zgrada</div>
        <div class="box"><b>Kvadratura:</b> 88m²</div>
        <div class="box"><b>Broj soba:</b> 3</div>
        <div class="box"><b>Sprat:</b> 4 od 7</div>
        <div class="box"><b>Tip grejanja:</b> Toplotne pumpe</div>
        <div class="box"><b>Stanje nekretnine:</b> Izvorno</div>
        <div class="box"><b>Godina izgradnje:</b> 2020</div>
        <div class="box"><b>Mesečne režije:</b> 12000 RSD</div>
        <br />
      <div class="box">
          <b>Opis:</b> <br />

          Trosoban, na odličnoj lokaciji. <br />Uknjižen. <br />
          Prodaje se kompletno opremnjen sa nameštajem.
        </div>
        <br />
        <!-- Karakteristike -->
        <div class="box">
          <b>Karakteristike:</b>
          <div class="input karakteristike">
            <p>
              Terasa
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              Podrum
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              Internet
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p>
              Lodja
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              Garaza
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              Interfon
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p class="ima">
              Fr. balkon
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p>
              Basta
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              Telefon
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              Lift
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p class="ima">
              Klima
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
          </div>
        </div>
        <br />
        <!-- Linije prevoza -->
        <div class="box">
          <b>Linije prevoza:</b>
          <div class="input linije-prevoza">
            <p>
              1
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              2
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              3
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p>
              4
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              5
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              6
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p class="ima">
              7
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p>
              8
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              9
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p class="ima">
              10
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p class="ima">
              11
              <fa-icon [icon]="checkMark" *ngIf="true"></fa-icon>
            </p>
            <p>
              12
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              13
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              14
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              15
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              16
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              17
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              18
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              19
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
            <p>
              20
              <fa-icon [icon]="checkMark" *ngIf="false"></fa-icon>
            </p>
          </div>
        </div>
        <div class="btn-wrapper">
          <button class="btn">Dodaj u omiljene</button>
        </div>
      </div>
      <div class="info">
        <div class="img-wrapper">
          <img src="/assets/house-img-2.webp" alt="" />
        </div>
        <div class="box"><b> Prosečna cena na lokaciji:</b> 2398 €/m²</div>
        <div class="box oglasivac">
          <p><b>Oglašivač:</b> Pera Petrović</p>
        </div>
        <div class="btn-wrapper">
          <button class="btn" (click)="vidiViseToggle()">Kontakt</button>
        </div>
        <div class="box" *ngIf="vidiVise">
          <br />
          <div class="box"><b>Broj telefona:</b> 069 99 88 9898</div>
          <!--dodatne informacije ako radi za agenciju -->
          <div *ngIf="false">
            <div class="box"><b>Broj licence:</b> ???</div>
            <div class="box"><b>Agencija:</b> ???</div>
            <div class="box"><b>Grad agencije:</b> ???</div>
            <div class="box"><b>PIB agencije:</b> ???</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
