<app-kupac-header></app-kupac-header>
<section>
  <div class="content" *ngIf="listing">
    <!-- naziv oglasa -->
    <h1>{{ listing.nazivOglasa }}</h1>
    <!-- grad, lokacija, ulica -->
    <h2>Beograd - {{ listing.lokacija }} - {{ listing.ulica }}</h2>
    <div class="flex">
      <!-- generalne informacije o nekretnini -->
      <div class="info">
        <div class="box"><b>Cena:</b> {{ listing.cena }} €</div>
        <div class="box"><b>Tip:</b> {{ listing.tipNekretnine }}</div>
        <div class="box"><b>Kvadratura:</b> {{ listing.kvadratura }}m²</div>
        <div class="box"><b>Broj soba:</b> {{ brojSoba }}</div>
        <div class="box"><b>Sprat:</b> {{ sprat }}</div>
        <div class="box"><b>Ukupna spratnost:</b> {{ ukupnaSpratnost }}</div>
        <div class="box"><b>Tip grejanja:</b> {{ listing.tipGrejanja }}</div>
        <div class="box">
          <b>Stanje nekretnine:</b> {{ listing.stanjeNekretnine }}
        </div>
        <div class="box">
          <b>Godina izgradnje:</b> {{ listing.godinaIzgradnje }}
        </div>
        <div class="box">
          <b>Mesečne režije:</b> {{ listing.mesecneRezije }} RSD
        </div>
        <br />
        <div class="box">
          <b>Opis:</b> <br />
          {{ listing.opis }}
        </div>
        <br />
        <!-- Karakteristike -->
        <div class="box">
          <b>Karakteristike:</b>
          <div class="input karakteristike">
            <p
              *ngFor="let k of sveKarakteristike"
              [ngClass]="{ ima: listing.karakteristike.includes(k) }"
            >
              {{ k }}
              <fa-icon
                [icon]="checkMark"
                *ngIf="listing.karakteristike.includes(k)"
              ></fa-icon>
            </p>
          </div>
        </div>
        <br />
        <!-- Linije prevoza -->
        <div class="box">
          <b>Linije prevoza:</b>
          <div class="input linije-prevoza">
            <p
              *ngFor="let l of sveLinije"
              [ngClass]="{ ima: listing.linije.includes(l) }"
            >
              {{ l }}
              <fa-icon
                [icon]="checkMark"
                *ngIf="listing.linije.includes(l)"
              ></fa-icon>
            </p>
          </div>
        </div>
        <div class="btn-wrapper">
          <button class="btn">Dodaj u omiljene</button>
        </div>
      </div>
      <div class="info">
        <!-- slike nekretenine -->
        <div class="img-wrapper">
          <div class="slider">
            <img [src]="listing.slike[currentIndex].source" alt="Slide Image" />
            <div class="controls-overlay">
              <button
                class="previous-button"
                (click)="previousImage()"
                [disabled]="currentIndex === 0"
              >
                <fa-icon [icon]="left" size="2x" class="arrow"></fa-icon>
              </button>
              <button
                class="next-button"
                (click)="nextImage()"
                [disabled]="currentIndex === listing.slike.length - 1"
              >
                <fa-icon [icon]="right" size="2x" class="arrow"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!-- informacije o oglasivacu -->
        <div class="box"><b> Prosečna cena na lokaciji:</b> 2398 €/m²</div>
        <div class="box oglasivac">
          <p><b>Oglašivač:</b> {{ listing.oglasivac }}</p>
        </div>
        <!-- dugme da se vidi vise informacija o oglasivacu -->
        <div class="btn-wrapper">
          <button class="btn" (click)="vidiViseToggle()">Kontakt</button>
        </div>
        <!-- vise informacija o oglasivacu -->
        <div class="box" *ngIf="vidiVise">
          <br />
          <div class="box">
            <b>Broj telefona:</b>
            <!-- povezati nepohodne podatke -->
          </div>
          <!--dodatne informacije ako radi za agenciju -->
          <div *ngIf="false">
            <div class="box">
              <b>Broj licence:</b>
              <!-- povezati nepohodne podatke -->
            </div>
            <div class="box">
              <b>Agencija:</b>
              <!-- povezati nepohodne podatke -->
            </div>
            <div class="box">
              <b>Grad agencije:</b>
              <!-- povezati nepohodne podatke -->
            </div>
            <div class="box">
              <b>PIB agencije:</b>
              <!-- povezati nepohodne podatke -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
