<app-kupac-header></app-kupac-header>

<section class="filters">
  <form (ngSubmit)="pretrazi()">
    <div id="close-filter"><i class="fas fa-times"></i></div>
    <h3>Detaljna Pretraga</h3>
    <div class="flex">
      <!-- Lokacija -->
      <div class="box">
        <p>Lokacija</p>
        <div class="dropdown input">
          <button
            class="dropdown-toggle"
            type="button"
            (click)="toggleDropdown()"
          >
            <span *ngIf="filter.lokacija.length === 0">Izaberite Lokaciju</span>
            <div class="odabraneLokacije">
              <span
                class="truncated-text"
                *ngFor="let lokacija of filter.lokacija"
                >{{ lokacija }},
              </span>
            </div>
          </button>
          <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
            <div *ngFor="let lokacija of lokacijaIzbor">
              <div
                class="dropdown-item"
                (click)="select(lokacija)"
                [ngClass]="{ selected: filter.lokacija.includes(lokacija) }"
              >
                {{ lokacija }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tip nekretnine -->
      <div class="box">
        <p>Tip nekretnine</p>
        <select
          name="tipNekretnine"
          class="input"
          required
          [(ngModel)]="filter.tip"
        >
          <option value="undefined" disabled>Izaberite tip</option>
          <option *ngFor="let izbor of tipNekretnineIzbor" value="{{ izbor }}">
            {{ izbor }}
          </option>
        </select>
      </div>
      <!-- Cena od do -->
      <div class="box">
        <p>Cena</p>
        <p class="input">
          <label for="min-price">OD:</label>
          <input
            name="cenaOd"
            type="number"
            id="min-price"
            min="0"
            placeholder="€"
            [(ngModel)]="filter.cenaOd"
          />

          <label for="max-price">DO:</label>
          <input
            name="cenaDo"
            type="number"
            id="max-price"
            min="0"
            placeholder="€"
            [(ngModel)]="filter.cenaDo"
          />
        </p>
      </div>
      <!-- Kvadratura od do -->
      <div class="box">
        <p>Kvadratura</p>
        <p class="input">
          <label for="min-price">OD:</label>
          <input
            name="kvadraturaOd"
            type="number"
            id="min-price"
            min="1"
            placeholder="m²"
            [(ngModel)]="filter.kvadraturaOd"
          />

          <label for="max-price">DO:</label>
          <input
            name="kvadraturaDo"
            type="number"
            id="max-price"
            min="1"
            placeholder="m²"
            [(ngModel)]="filter.kvadraturaDo"
          />
        </p>
      </div>
      <!-- Broj soba od do -->
      <div class="box">
        <p>Broj soba</p>

        <p class="input">
          <label for="min-soba">OD:</label>
          <select name="brojSoba" [(ngModel)]="filter.brojSobaOd">
            <option value="undefined">Izaberite broj soba</option>
            <option *ngFor="let izbor of brojSobaIzbor" value="{{ izbor }}">
              {{ izbor }}
            </option>
          </select>

          <label for="max-soba">DO:</label>
          <select name="brojSoba" [(ngModel)]="filter.brojSobaDo">
            <option value="undefined">Izaberite broj soba</option>
            <option *ngFor="let izbor of brojSobaIzbor" value="{{ izbor }}">
              {{ izbor }}
            </option>
          </select>
        </p>
      </div>
      <!-- Godina izgradnje od do -->
      <div class="box">
        <p>Godina izgradnje</p>

        <p class="input">
          <label for="min-godina">OD:</label>
          <!-- Od -->
          <select name="godinaIzgradnje" [(ngModel)]="filter.godinaIzgradnjeOd">
            <option value="undefined">Izaberite godinu izgradnje</option>
            <option
              *ngFor="let izbor of godinaIzgradnjeIzbor"
              value="{{ izbor }}"
            >
              {{ izbor }}
            </option>
          </select>
          <!-- Do -->
          <label for="max-godina">DO:</label>
          <select name="godinaIzgradnje" [(ngModel)]="filter.godinaIzgradnjeDo">
            <option value="undefined">Izaberite godinu izgradnje</option>
            <option
              *ngFor="let izbor of godinaIzgradnjeIzbor"
              value="{{ izbor }}"
            >
              {{ izbor }}
            </option>
          </select>
        </p>
      </div>
      <!-- Oglasivac -->
      <div class="box">
        <p>Tip oglašivača</p>

        <p class="input">
          <span *ngFor="let tip of tipOglasivacaIzbor">
            <label for="{{ tip.name }}">{{ tip.name }} </label>
            <input
              type="checkbox"
              id="{{ tip.name }}"
              [value]="tip.value"
              [checked]="tip.checked"
              (change)="osveziTipOglasivaca($event)"
            />&nbsp;&nbsp;
          </span>
        </p>
      </div>
      <!-- Stanje nekretnine -->
      <div class="box">
        <p>Stanje</p>

        <p class="input">
          <span *ngFor="let stanje of stanjeNekretnineIzbor">
            <label for="{{ stanje.name }}">{{ stanje.name }} </label>
            <input
              type="checkbox"
              id="{{ stanje.name }}"
              [value]="stanje.name"
              [checked]="stanje.checked"
              (change)="osveziOdabranoStanje($event)"
            />&nbsp;&nbsp;
          </span>
        </p>
      </div>
      <!-- Tip grejanja -->
      <div class="box grejanje">
        <p>Tip grejanja</p>

        <p class="input">
          <span *ngFor="let grejanje of tipGrejanjaIzbor">
            <label for="{{ grejanje.name }}">{{ grejanje.name }} </label>
            <input
              type="checkbox"
              id="{{ grejanje.name }}"
              [value]="grejanje.name"
              [checked]="grejanje.checked"
              (change)="osveziOdabranoGrejanje($event)"
            />&nbsp;&nbsp;
          </span>
        </p>
      </div>
      <!-- Sprat od do -->
      <div class="box">
        <p>Sprat</p>

        <p class="input">
          <label for="min-soba">OD:</label>
          <select name="sprat" [(ngModel)]="filter.spratOd">
            <option value="undefined">Izaberite sprat</option>
            <option *ngFor="let izbor of spratIzbor" value="{{ izbor }}">
              {{ izbor }}
            </option>
          </select>

          <label for="max-soba">DO:</label>
          <select name="sprat" [(ngModel)]="filter.spratDo">
            <option value="undefined">Izaberite sprat</option>
            <option *ngFor="let izbor of spratIzbor" value="{{ izbor }}">
              {{ izbor }}
            </option>
          </select>
        </p>
      </div>
      <!-- Mesecne rezije od do -->
      <div class="box">
        <p>Mesečne režije</p>
        <p class="input">
          <label for="min-rezije">OD:</label>
          <input
            name="mesecneRezijeOd"
            type="number"
            id="max-rezije"
            min="1"
            placeholder="rsd"
            [(ngModel)]="filter.mesecneRezijeOd"
          />

          <label for="max-rezije">DO:</label>
          <input
            name="mesecneRezijeDo"
            type="number"
            id="max-rezije"
            min="1"
            placeholder="rsd"
            [(ngModel)]="filter.mesecneRezijeDo"
          />
        </p>
      </div>
      <!-- Odabrane karakteristike -->
      <div class="box">
        <p>Odabrane karaktersitike</p>
        <div class="input min-height">
          <!-- lokacija -->
          <p *ngIf="filter.lokacija.length > 0">
            Lokacija:
            <span *ngFor="let lokacija of filter.lokacija"
              >{{ lokacija }} &nbsp;</span
            >
          </p>
          <!-- tip -->
          <p *ngIf="filter.tip">Tip: {{ filter.tip }}</p>
          <!-- cena od do -->
          <p *ngIf="filter.cenaDo || filter.cenaOd">
            Cena: <span *ngIf="filter.cenaOd">od {{ filter.cenaOd }} € </span>
            <span *ngIf="filter.cenaDo">do {{ filter.cenaDo }} € </span>
          </p>
          <!-- kvadrature od do -->
          <p *ngIf="filter.kvadraturaOd || filter.kvadraturaDo">
            Kvadratura:
            <span *ngIf="filter.kvadraturaOd"
              >od {{ filter.kvadraturaOd }} m²
            </span>
            <span *ngIf="filter.kvadraturaDo"
              >do {{ filter.kvadraturaDo }} m²
            </span>
          </p>
          <!-- broj soba -->
          <p *ngIf="filter.brojSobaOd || filter.brojSobaDo">
            Broj soba:
            <span *ngIf="filter.brojSobaOd">od {{ filter.brojSobaOd }} </span>
            <span *ngIf="filter.brojSobaDo">do {{ filter.brojSobaDo }} </span>
          </p>
          <!-- godina izgradnje -->
          <p *ngIf="filter.godinaIzgradnjeOd || filter.godinaIzgradnjeDo">
            Godina Izgradnje:
            <span *ngIf="filter.godinaIzgradnjeOd"
              >od {{ filter.godinaIzgradnjeOd }}
            </span>
            <span *ngIf="filter.godinaIzgradnjeDo"
              >do {{ filter.godinaIzgradnjeDo }}
            </span>
          </p>
          <!-- tip oglasivaca -->
          <p *ngIf="nizOdabranihOglasivaca().length > 0">
            Tip oglašivača:
            <span *ngFor="let oglasivac of nizOdabranihOglasivaca()"
              >{{ oglasivac }} &nbsp;</span
            >
          </p>
          <!-- stanje -->
          <p *ngIf="nizOdabranihStanja().length > 0">
            Stanje nekretnine:
            <span *ngFor="let stanje of nizOdabranihStanja()"
              >{{ stanje }} &nbsp;</span
            >
          </p>
          <!-- grejanje -->
          <p *ngIf="nizOdabranihGrejanja().length > 0">
            Stanje nekretnine:
            <span *ngFor="let grejanje of nizOdabranihGrejanja()"
              >{{ grejanje }} &nbsp;</span
            >
          </p>
          <!-- sprat -->
          <p *ngIf="filter.spratOd || filter.spratDo">
            Sprat:
            <span *ngIf="filter.spratOd">od {{ filter.spratOd }} </span>
            <span *ngIf="filter.spratDo">do {{ filter.spratDo }} </span>
          </p>
          <!-- mesecne rezije -->
          <p *ngIf="filter.mesecneRezijeOd || filter.mesecneRezijeDo">
            Mesečne režije:
            <span *ngIf="filter.mesecneRezijeOd"
              >od {{ filter.mesecneRezijeOd }}
            </span>
            <span *ngIf="filter.mesecneRezijeDo"
              >do {{ filter.mesecneRezijeDo }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- dugme za pretragu -->
    <input type="submit" value="Traži" name="Traži" class="btn" />
  </form>
</section>
