<app-kupac-header></app-kupac-header>

<section>
  <h1 class="heading">Omiljene nekretnine</h1>
  <!-- u ng if ide prikaz svih oglasa oglasivaca -->
  <div *ngFor="let listing of allListings" class="box">
    <div class="thumb">
      <img
        [src]="listing.slike[0].source"
        alt=""
        *ngIf="listing.slike.length > 0"
      />
      <img
        src="assets/images/house-img-2.jpg"
        *ngIf="listing.slike.length == 0"
        alt=""
      />
    </div>
    <div class="info">
      <h3 class="name">{{ listing.nazivOglasa }}</h3>
      <p class="location">
        <fa-icon [icon]="euroMarker"></fa-icon>Cena:
        <span> {{ listing.cena }} </span>
      </p>
      <p class="location">
        <fa-icon [icon]="mapMarker"></fa-icon
        ><span>Beograd - {{ listing.lokacija }} - {{ listing.ulica }}</span>
      </p>
    </div>
    <div class="buttons">
      <a
        routerLink="/stranica-oglasa/{{ listing._id }}"
        class="btn"
        *ngIf="listing.status == 'nije prodato'"
        >Vidi oglas</a
      >
      <a class="btn prodato" *ngIf="listing.status == 'prodato'">PRODATO</a>
      <a class="btn" (click)="ukloniIzOmiljenih(listing._id)"
        >Ukloni iz omiljenih <fa-icon [icon]="heartMinus"></fa-icon
      ></a>
    </div>
  </div>
</section>
