<app-og-header></app-og-header>
<section>
  <h1 class="heading">Moji Oglasi</h1>
  <!-- treba ubaciti oglasivaceve oglase umesto svih -->
  <div class="box" *ngFor="let listing of allListings">
    <div class="thumb">
      <img
        [src]="listing.slike[0].source"
        alt=""
        *ngIf="listing.slike.length > 0"
      />
      <img
        src="assets/images/house-img-2.jpg"
        *ngIf="listing.slike.length == 0"
        alt=""
      />
    </div>
    <div class="info">
      <h3 class="name">{{ listing.nazivOglasa }}</h3>
      <p class="location">
        <fa-icon [icon]="euroMarker"></fa-icon>Cena:
        <span> {{ listing.cena }} €</span>
      </p>
      <p class="location">
        <fa-icon [icon]="mapMarker"></fa-icon
        ><span>{{ listing.lokacija }} - {{ listing.ulica }} </span>
      </p>
    </div>
    <div class="buttons">
      <button
        class="btn"
        (click)="izmeniOglas(listing, listing._id)"
        [disabled]="listing.status == 'prodato'"
      >
        Izmeni Oglas
      </button>

      <button
        *ngIf="listing.status == 'nije prodato'"
        class="btn"
        (click)="prodaj(listing._id)"
      >
        Prodato
      </button>
      <a *ngIf="listing.status != 'nije prodato'" class="btn prodato"
        >Prodato</a
      >
    </div>
  </div>
</section>
