<header class="header">

    <nav class="navbar nav-1">
       <section class="flex">
          <a href="/naslovna" class="logo"><i class="fas fa-house"></i>ProdajaNekretninaRS</a>
 
          <ul>
             <li><a href="/omiljene-nekretnine">Omiljene nekretnine<i class="far fa-heart"></i></a></li>
             <li><a href="/kupac-moj-profil">Moj Profil<i class="far fa-circle-user"></i></a></li>
             <li><a href="#">Odjavi se<i class="fas fa-arrow-right"></i></a></li>
          </ul>
       </section>
    </nav>
 </header>
 