.result {
  display: grid;
  grid-template-columns: 35% auto;
}
.opis {
  grid-column: span 2;
  margin: 10px 0;
}
.btn {
  grid-column: span 2;
}
img {
  object-fit: cover;
}
section {
  min-height: calc(100vh - 399px);
}
.pagNav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem !important;
}
.numbers {
  display: flex;
  gap: 20px;
}
.active {
  background-color: var(--main-color);
  color: white;
}
.pagNavButton {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
