.result {
  display: grid;
  grid-template-columns: 35% auto;
}
.opis {
  grid-column: span 2;
  margin: 10px 0;
}
.btn {
  grid-column: span 2;
}
img {
  object-fit: cover;
}
section {
  min-height: calc(100vh - 399px);
}
