<app-kupac-header></app-kupac-header>

<section class="listings2">
  <h1 class="heading">Rezultat pretrage</h1>

  <div class="box-container">
    <div *ngFor="let listing of allListings" class="box">
      <div class="thumb">
        <img src="assets/images/house-img-2.jpg" alt="" />
      </div>

      <div class="atributiRezultatPretrage">
        <h3 class="name">{{ listing.nazivOglasa }}</h3>
        <!-- lokacija - ulica -->
        <p class="location">
          <i class="fas fa-map-marker-alt"></i
          ><span>Beograd - {{ listing.lokacija }} - {{ listing.ulica }}</span>
        </p>
        <!-- kvadratura -->
        <p class="location">
          <i class="fas fa-house"></i>Kvadratura:
          <span> {{ listing.kvadratura }} m²</span>
        </p>
        <!-- broj soba -->
        <p class="location">
          <i class="fas fa-door-open"></i>Broj soba:
          <span> {{ listing.brojSoba }} </span>
        </p>
        <!-- spratnost -->
        <p class="location">
          <i class="fas fa-building"></i>Sprat:
          <span> {{ listing.sprat }} </span>
        </p>
        <!-- prosecna cena !!! treba da se poveze !!! -->
        <p class="location">
          <i class="fas fa-circle-question"></i>Prosečna cena po m²:<span
          > </span>
        </p>
        <div class="flex">
          <p class="location">
            <i class="fas fa-euro-sign"></i
            ><b
              >Cena: <span> {{ listing.cena }} </span></b
            >
          </p>
        </div>
      </div>

      <div class="opisRezultatPretrage">
        <p class="location">
          {{ listing.opis }}
        </p>
      </div>

      <a routerLink="/stranica-oglasa/{{ listing._id }}" class="btn"
        >Pogledaj oglas</a
      >
    </div>
  </div>
</section>
