section {
  min-height: calc(100vh - 399px);
}
form {
  background-color: var(--white);
  box-shadow: var(--box-shodow);
  padding: 2rem;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  color: var(--black);

  text-align: center;
}
.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.box {
  flex: 1 1 40rem;
}
.input {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  padding: 1.4rem;
}
p {
  font-size: 1.6rem;
  color: var(--light-color);
}
.karakteristike {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.karakteristike p label,
.linije-prevoza p label {
  margin-right: 0.5rem;
}
.linije-prevoza {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.greska {
  color: red;
  font-size: 1rem;
}
.spratnost {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  justify-content: space-around;
}
.spratnost p {
  margin: auto;
}
.tall {
  min-height: 220px;
}
.preview {
  display: flex;
}
.imgs {
  display: flex;
  flex-direction: column;
}
.imgs img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 5px 0;
}
.names div {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.names button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
